body {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
  font-family: 'Lilita One', cursive;
}

form {
  padding-top: 20px;
}

input {
  font-family: 'Lilita One', cursive;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    font-size: 40px;
    text-align: center;
    width: 40vw;
}

input[type=submit] {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
}

#score:after {
  content: attr(data-score);
  font-weight: bold;
  color: black;
}

#score {
  text-align: center;
  margin: auto;
  font-size: 35px;
  color: black;
  width: 100px;
  height: 100px;
}

.header-info {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.logo {
  height: 80px;
}
