input[type=text] {
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    font-size: 40px;
}

input[type=submit] {
    background-color: green;
    border: none;
    color: white;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
}

#score:after {
  content: attr(data-score);
  font-weight: bold;
  color: black;
}

#score {
  text-align: center;
  margin: auto;
  font-size: 35px;
  color: black;
  width: 100px;
  height: 100px;
}

.header-info {
  width: 100px;
  height: 100px;
}
