body {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
  /*font-family: 'Lilita One', cursive;*/
  font-family: 'Fredoka One', cursive;
}

form {
  padding-top: 20px;
}

input {
  /*font-family: 'Lilita One', cursive;*/
  font-family: 'Fredoka One', cursive;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    font-size: 40px;
    text-align: center;
    width: 30vw;
}

i {
  color: #2486B2
}

i:hover {
  transform: scale(1.1);
}

input[type=submit], #replay {
    background-color: #2486B2;
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
    border-radius: 8px;
    font-family: 'Fredoka One', cursive;
}

button:focus {
  outline: 0;
}

button:hover {
  transform: scale(1.1);
}

#score:after {
  content: attr(data-score);
  font-weight: bold;
  color: black;
}

#score {
  text-align: center;
  margin: auto;
  font-size: 35px;
  color: black;
  /*width: 100px;
  height: 100px;*/
  flex: 5;
}

.header-info {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.logo {
  height: 80px;
  flex: 1;
}

.links {
  flex: 1;
  display: flex;
  /*align-items: center;*/
  justify-content: flex-end;
}

a {
  padding: 10px;
}

#game-over {
  position: absolute;
  font-size: 90px;
  margin: auto;
  text-align: center;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  color: #2486B2;
}

#ledge {
  position: absolute;
  width: 740px;
  height: 10px;
  background-color: #9AD92F;
  bottom: -10px;
  right: 0;
}
